<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}" />


  {% block head_content %}{% endblock %}
</head>
<body>
  {% include "header.html" %}

  <div class="container">
    {% block container %}
    {% endblock%}
  </div>
</body>