{% load static %}

<header>
  <div class="header container">
    <h1><a href="{% url 'tournaments:home' %}">Champions</a></h1>
    <nav class="menu">
      <ol>
        <li>
          <a>Resultados</a>
        </li>
        {% if user.is_authenticated %}
          <li>
            <a>Mis quinielas</a>
          </li>
          <li>
            <a style="font-size: 0.7em; color:rgb(97,28,13);" href="{% url 'users:logout' %}">Logout</a>
          </li>
        {% if user.profile.picture %}
        <li>
          <a href="{% url 'users:detail' user.username %}">
            <img style="border-radius: 100%" class="profile-pic" src="{{ user.profile.picture.url }}" class="rounded-circle" height="35" />
          </a>
        </li>
        {% else %}
        <li>
          <a href="{% url 'users:detail' user.username %}">
            <img class="profile-pic" src="{% static 'img/default-profile.png' %}" class="rounded-circle" height="35" />
          </a>
        </li>
        {% endif %}
        {% else %}
          <li>
            <a href="{% url 'users:login' %}">Sign in</a>
          </li>
          <li>
            <a href="{% url 'users:signup' %}" class="sign-up">Sign up</a>
          </li>
        {% endif %}
      </ol>
    </nav>
  </div>
</header>