{% extends "base.html" %}

{% block head_content %}
<title>@{{ user.username }} | Platzigram</title>
{% endblock %}

{% block container %}
{% load static %}

    <div class="container mb-5" style="margin-top: 8em;">
        <div class="row">
            {% if user.profile.picture %}
            <div class="col-sm-4 d-flex justify-content-center">
                <img 
                    class="rounded-circle"
                    src="{{ user.profile.picture.url }}" 
                    alt="@{{ user.username}}" 
                    width="150px"
                    height="140px" />
            </div>
            {% else %}
            <div class="col-sm-4 d-flex justify-content-center">
                    <img 
                        class="rounded-circle"
                        src="{% static 'img/default-profile.png' %}" 
                        alt="@{{ user.username}}" 
                        width="150px"
                        height="140px" />
                </div>
            {% endif%}
            <div class="col-sm-8">
                <h2 style="font-weight: 100;">
                    {{ user.username }}
                    {% if user == request.user %}
                        <a
                            href="{% url 'users:update' %}"
                            class="ml-5 btn btn-sm btn-outline-info"
                        >
                            Edit profile
                        </a>
                    {% else %}
                        <a
                            href=""
                            class="ml-5 btn btn-sm btn-primary"
                        >
                            Follow
                        </a>
                    {% endif %}
                </h2>
                <div class="row mt-4">
                    <div class="col-sm-12">
                        <p>{{ user.profile.biography }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}